node_modules
.env
.output
.vinxi
dist
apps/azf-v1/deploy
.turbo
*.local
.DS_Store
local.settings.json
__azurite_db*
__blobstorage__
__queuestorage__
__tablesstorage__
AzuriteConfig
.azurite
coverage
infra/main.parameters.json

